@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.bgwhite{
    background-color: white;
}

.flex{
    display: flex;
}

main.maincontainer{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}  

div.instacel{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 1em;
}

div.instacel img{
    height: 100%;
    position: absolute;
}

.continue{
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 30rem;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.3rem 0;
}


.logos{
    margin-top:1em;
}

.fotoperfil{
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}

.instlogin{
    background-color: blue;
    color: white;
    padding: .5em;
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}

.cadastro{
    height: fit-content;
}

.baixarapp {
    justify-content: center;
    display: flex;
}

.baixarapp img{
    height: 3em;
    width: 9em;
}

/* Mobile */

@media(max-width:1000px){
    div.instacel{
        display: none;
    }

    section{
        width: 100%;
    }

    main.maincontainer{
        width: 100%;
    }

    .continue{
        width: 100%;
    }
}